// Bootstrap
@import "base/mixins";
@import "~bootstrap/scss/bootstrap";

h1 {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -2px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

.list-group {
  position: relative;

  &-item {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      z-index: 99;
    }
  }
}